
<% if user_signed_in? %>
	<% if current_user.is_admins == true %>
		<%= link_to "créé une commune", new_region_commune_path(@region.id) ,class:'btn btn-success' %> <br> <br>
	<% end %>
<% end %>

<div class="container">

  <h2 class="py-3">Liste de toutes les communes dans cette région</h2>

  <table class="table table-striped">
    <thead class="white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Commune</th>
  	  <% if user_signed_in? %>
        <% if current_user.is_admins == true %>
          <th scope="col">Edit</th>
          <th scope="col">Supprimer</th>
        <% end %>
  	  <% end %>
      </tr>
    </thead>
    <% i = 1 %>
    <% @commune.each do |commune|%>
      <tbody>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= link_to commune.name, commune_candidats_path(commune.id) %></td>
          <% if user_signed_in? %>
            <% if current_user.is_admins == true %>
              <td><%= link_to "edit", edit_region_commune_path(@region.id,commune.id),class:'boutton edit' %></td>
              <td><%= link_to "supprimé", region_commune_path(@region.id,commune.id) , method: "delete",class:'boutton supprimer' %></td>
            <% end %>
      	  <% end %>
        </tr>
      </tbody>
      <% i += 1 %>
    <% end %>
  </table>

</div>