 <section class="my-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
    <div class="container">
      <h1>Inscription</h1>
      <ul>
        <li>
          <div class="grid grid-2">
            <%= f.text_field :full_name, autofocus: true, class: 'form-control', autocomplete: "Nom Complet",placeholder:"Name" %>
              <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email",placeholder:"Email" %>
          </div>
        </li>
        <li>
          <div class="grid grid-2">
              <%= f.password_field :password, class: 'form-control', autocomplete: "new-password",placeholder:"Mots de passe" %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password",placeholder:"Confirmer mots de passe" %>
          </div>
        </li>    
       
        <li>
          <input type="checkbox" id="terms">
            <% if devise_mapping.rememberable? %>
              <%= f.label :remember_me, class:"d" %>
            <% end %>  
          </label>
        </li>  
        
        <li>
          <div class="grid grid-3">
            <button class="btn-grid" type="submit">
              <span class="back">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/email-icon.svg" alt="">
              </span>
              <%= f.submit "Confirmer", class:"front" %>
            </button>
          </div>
        </li>    
      </ul>
    </div>
   <% end %>
</section>
 