<h2>Commentaire sur l'engagement "<%= @engagement.content %>"</h2>

<% @comment.each do |comment| %>
	<%= comment.user.full_name %><br>
	<%= comment.content %> | <%= link_to "Modifier", edit_engagment_comment_path(@engagement.id, comment.id) %> | <%= link_to "Supprimer", engagment_comment_path(@engagement.id, comment.id), method:"delete" %> <br><br>
<% end %>

<%= form_tag url_for(action:'create'), method:'post' do %>
	Votre commentaire
	<input type="text" name="content" >
	<input type="submit" value="Ajouter" >
<%end%>
