<!-- call css  -->
<link rel="stylesheet" href="/css/show_candidat.css">
<!-- html body  -->
<div class="show-candidat">
  <div class="sc-head">
    <div class="sc-head-item1">
      <div class="sc-image">
        <% if @candidat.avatars.attached?%> 
          <%= image_tag @candidat.avatars.last, alt: 'avatar', class: 'sc-profil' %>
        <%else%>
          <img src="//placehold.it/150" class="img-fluid" alt="avatar" />
        <%end%>
      </div>
      <div>
        <% if user_signed_in? %> 
          <% if current_user.is_admins == true %> 
            <%= form_tag commune_candidat_avatars_path(@commune.id, @candidat.id), multipart: true do %> <%= file_field_tag :avatar, class: "btn choice" %>
              <div class="col-12"><%= submit_tag "mettre à jour", class:"btn btn-success" %></div>
            <% end %> 
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="sc-head-item2">
      <p>
        <strong>Nom de l'élue :</strong> <%= @candidat.name %> <br />
        <strong>Mouvence :</strong> <%= @candidat.parti %> <br />
        <strong>Résultat :</strong> <%= @candidat.resultat %> % <br />
        <strong>Commune :</strong> <%= @candidat.commune.name.capitalize %> <br />
        <strong>Région :</strong> <%= @candidat.region.name.capitalize %> <br />
      </p>
    </div>
  </div>
  <div class="sc-button">
    <div class="sc-btn1 sc-button-item ">
      Promesses et engagements
      <div class="ligne-b ligne-b1 active"></div>
    </div>
    <div class="sc-btn2 sc-button-item">
      Photos
      <div class="ligne-b ligne-b2"></div>
    </div>
  </div>
  <div class="sc-body container">
    <div class="row justify-content-center">
      <div class="col-md-6 sc-promess">
        <% @candidat.promesses.each do |promesse| %>
          <div class="mb-3">

            <div class="alert alert-info">
              <div>
                <%= link_to promesse.content, promess_engagments_path(promesse.id) %>
              </div>
              <% if @candidat == @candidat_valid %>
                <div>
                  <%= link_to "Voir les progressions", commune_candidat_promess_path(@commune.id,@candidat.id,promesse.id), class: 'btn btn-success' %>
                </div>
              <% end %>
            </div>
            
            
            <% if user_signed_in? %>
            <% if current_user.is_admins == true %> | <%= link_to "Créer des engagements", new_promess_engagment_path(promesse.id) %> | <%= link_to "Modifier la promesse", edit_commune_candidat_promess_path(@commune.id, @candidat.id,promesse.id) %> | <%= link_to "Supprimer la promesse", commune_candidat_promess_path(@commune.id,@candidat.id, promesse.id), method:"delete" %> <br>
            <% if @candidat.resultat == @tab %>
                <div class="d-flex">
                  <%= form_tag promess_suivis_path(promesse.id), method:'post' do %>
                  <input type="text" name="candidat" value="<%= @candidat.id %>" hidden>
                  <input type="text" name="commune" value="<%= @commune.id %>" hidden>
                  <input type="text" name="name" value="0" hidden>
                  <input type="submit" value="En cours" <% if promesse.suivis.first != nil %><% if promesse.suivis.first.start == true %> class="btn btn-primary m-2" <% else %> class="btn btn-warning m-2"<% end %><% else%> class="btn btn-warning" <% end %> >
                  <% end %>
                  <%= form_tag promess_suivis_path(promesse.id), method:'post' do %>
                  <input type="text" name="candidat" value="<%= @candidat.id %>" hidden>
                  <input type="text" name="commune" value="<%= @commune.id %>" hidden>
                  <input type="text" name="name" value="1" hidden>
                  <input type="submit" value="Fait" <% if promesse.suivis.first != nil %><% if promesse.suivis.first.finished == true %> class="btn btn-success m-2" <%  else%> class="btn btn-warning m-2"<%  end%><%  else%> class="btn btn-warning" <% end%>  >
                  <%end%><br>
                </div>
              <% end %>
            <% end %>
            <% end %>
          </div>  
        <% end %>
      </div>
    </div>
    <div class="sc-body-photo container" id="edit" style="display: none;">
        <% @avatar.each do |candidat|%>
         <%= image_tag  candidat, class:"tailimg" %>
         <%end%>
    </div>
  </div>
  
</div>
<div class="boutton-flex mb-5 text-center">
  <%= link_to "Sondage sur le candidat élu", commune_surveys_path(@commune.id), class:"btn btn-radius btn-brd effect-1 pl-0" %>
  <% if user_signed_in? %>
  <% if current_user.is_admins == true %>
  <%= link_to "Créer des promesses", new_commune_candidat_promess_path(@commune.id, @candidat.id), class:"btn btn-radius btn-brd effect-1" %>
  <%= link_to "Editer ce candidat", edit_commune_candidat_path(@commune.id, @candidat.id), class:"btn btn-radius btn-brd effect-1" %>
  <%= link_to "Enlever ce candidat", commune_candidat_path(@commune.id, @candidat.id), method:"delete", class:"btn btn-radius btn-brd effect-1" %>
  <% end %>
  <% end %>
</div>
 
<!-- call js  -->
<script src="/js/show_candidat.js"></script>