<div class="container">
  <div class="container">
    <div class="row my-2">
      <div class="col-lg-8 order-lg-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
            </li>
            <li class="nav-item">
                <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Promesse et engagement</a>
            </li>
            <li class="nav-item">
                <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Photos</a>
            </li>
        </ul>
        <div class="tab-content py-4">
          <div class="tab-pane active" id="profile">
            <h5 class="mb-3">User Profile</h5>
            <div id="about" class="row">
              <div class="col-md-6">
                  <div class="row">
                    <p>
                      <strong>Nom de l'élue :</strong> <%= @candidat.name %> </br>
                      <strong>Mouvence :</strong> <%= @candidat.parti %> </br>
                      <strong>Résultat :</strong> <%= @candidat.resultat %> </br>
                      <strong>Région :</strong> <%= @candidat.region.name %> </br>
                      <strong>Commune :</strong> <%= @candidat.commune.name %> </br>
                    </p>

                  </div>
              </div>

                </div>
                <!--/row-->
                </div>
                <div class="tab-pane" id="messages"> 
                  <tr>
                      <td>
                         	<p>
                            <ul>
                            <% @candidat.promesses.each do |promesse| %>
                              <li>
                                <%= link_to promesse.content, promess_engagments_path(promesse.id) %> 
                                <% if user_signed_in? %>
                                  <% if current_user.is_admins == true %> | <%= link_to "Créer des engagements", new_promess_engagment_path(promesse.id) %> | <%= link_to "Modifier la promesse", edit_commune_candidat_promess_path(@commune.id, @candidat.id,promesse.id) %> 
                                    <%= form_tag promess_suivis_path(promesse.id), method:'post' do %>
                                      <input type="text" name="candidat" value="<%= @candidat.id %>" hidden>
                                      <input type="text" name="commune" value="<%= @commune.id %>" hidden>
                                      <input type="text" name="name" value="0" hidden>
                                      <input type="submit" value="En cours" <% if promesse.suivis.first != nil %><% if promesse.suivis.first.start == true %> class="btn btn-primary" <%  else%> class="btn btn-warning"<%  end%><%  else%> class="btn btn-warning" <% end%> >
                                    <%end%>
                                    <%= form_tag promess_suivis_path(promesse.id), method:'post' do %>
                                      <input type="text" name="candidat" value="<%= @candidat.id %>" hidden>
                                      <input type="text" name="commune" value="<%= @commune.id %>" hidden>
                                      <input type="text" name="name" value="1" hidden>
                                      <input type="submit" value="Fait" <% if promesse.suivis.first != nil %><% if promesse.suivis.first.finished == true %> class="btn btn-success" <%  else%> class="btn btn-warning"<%  end%><%  else%> class="btn btn-warning" <% end%>  >
                                    <%end%><br>
                                  </li>
                                <% end %>
                                </ul>
                                  <% end %>
                                  <%= link_to "Voir les progressions des promesses", commune_candidat_promess_path(@commune.id,@candidat.id,promesse.id) %> <br>
                              <% end %>
                                  <%= link_to "Créer une promesse", new_commune_candidat_promess_path(@commune.id,@candidat.id) %> <br>
                            </p>
                      </td>
                  </tr>
              </tbody> 
                    </table>
                </div>
                <div class="tab-pane" id="edit">
                 <% @avatar.each do |candidat|%>
                  <%= image_tag  candidat, class:"tailimg" %>
                  <%end%>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
        <% if @candidat.avatars.attached?%>
          <%= image_tag @candidat.avatars.last, alt: 'avatar', class:"mx-auto img-fluid img-circle d-block" %>
        <%else%>
          <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
        <%end%>
        <% if user_signed_in? %>
          <% if current_user.is_admins == true %> 
            <%= form_tag commune_candidat_avatars_path(@commune.id, @candidat.id), multipart: true do %>
            <%= file_field_tag  :avatar, class:"btn choice" %>
            <%= submit_tag "mettre à jour", class:"btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
        </div>
    </div>
</div>

  <div class="boutton-flex">
    <%= link_to "Sondage sur le candidat élu", commune_surveys_path(@commune.id), class:"btn btn-outline-secondary" %>
    <% if user_signed_in? %>
      <% if current_user.is_admins == true %>
        <%= link_to "Créer des promesses", new_commune_candidat_promess_path(@commune.id, @candidat.id), class:"btn btn-outline-secondary" %>
        <%= link_to "Editer candidat", edit_commune_candidat_path(@commune.id, @candidat.id), class:"btn btn-outline-secondary" %>
        <%= link_to "Effacer candidat", commune_candidat_path(@commune.id, @candidat.id), method:"delete", class:"btn btn-outline-danger" %>
      <% end %>
    <% end %>
  </div>

</div>
