<h3 class="py-5 text-center">Toutes les actualités</h3>  
  <div class="text-center">
      <div class="d-flex flex-wrap justify-content-center">          
       <% @actualite.each do |actualite| %>
        <article class="w-40">
          <div class="blog_item_img">
              <%if actualite.actuphotos.attached?%> <%= image_tag (actualite.actuphotos.last), class:"card-img rounded-0"%> <%end%>
                <a href="#" class="blog_item_date">
                <h3>15</h3>
                <p>Jan</p>
                </a>
            </div>
            <div class="blog_details">
              <a href="<%= actuality_path(actualite) %>"><h2><%= actualite.title %></h2></a>
              <p><% for a in 0..50 do %><%= actualite.description.split[a] %> <%end%><% if actualite.description.split.length-1 > 50 %>... <%end%></p>
              <a class="boxed-btn3-line" href="<%= actuality_path(actualite)%>">Lire la suite</a>
            </div> 
          </article>  
       <% end %>   
      </div>
    </div>
  </div>




