<h1>A propos de cette actualité</h1>
<div class="container">
	<p>
		<strong>Titre : </strong>
		<%= @actualite.title %><br>
		<strong>Description : </strong><br>
		<%= @actualite.description %><br><br>
		
	</p>


  <%if @actualite.actuphoto.attached?%>
    <%= image_tag (@actualite.actuphoto), class:"img-display carousel-display card-img-top proimg",alt: '#{@car.model.name} #{@car.model.name}' %>
  <%else%>
	<h3>Ajouter des photos</h3>
  <%end%>



	<%= form_tag actuality_actuphotos_path(@actualite), multipart: true do %>
		<%= file_field_tag :actuphoto %>
		<%= submit_tag "mettre à jour" %>
	<% end %>

	<%= link_to "Editer", edit_actuality_path(@actualite.id) %><br>
	<%= link_to "Supprimer", actuality_path(@actualite.id), method:"delete" %>
</div>