<h1>A propos de cette actualité</h1>
<div class="container">
	<p>
		<strong>Titre : </strong>
		<%= @actualite.title %><br>
		<strong>Description : </strong><br>
		<%= @actualite.description %><br><br>
		************************** <%= @actualite.actuphoto.length %> *************************
	</p>


<!--  	<%if @actualite.actuphoto.attached?%>
    <%= image_tag (@actualite.actuphoto[2]), class:"img-display carousel-display card-img-top proimg",alt: '#{@car.model.name} #{@car.model.name}' %>
  <%else%>
  tsisy
  <%end%> -->

		<% i = 0 %>
	<% longueur = @actualite.actuphoto.length %>
	<%if @actualite.actuphoto.attached?%>
  	<% while i < longueur %>
	    <div class="carousel-item">
	      <%= image_tag (@actualite.actuphoto[i]), class:"img-display carousel-display card-img-top proimg",alt: 'actuphoto' %>
				<% i += 0 %>
	    </div>
    <%end%>
	 <%end%>
	<h3>Ajouter des photos</h3>

<!--   <% for i in 0..(@actualite.actuphoto.length-1)%>
    <div class="carousel-item">
      <%if @actualite.actuphoto.attached?%>
        <%= image_tag (@actualite.actuphoto[i]), class:"img-display carousel-display card-img-top proimg",alt: '#{@car.model.name} #{@car.model.name}' %>
      <%else%>
				<h3>Ajouter des photos</h3>
      <%end%>
    </div>
    <%end%> -->
<!-- 
  <%if @actualite.actuphoto.attached?%>
		<% for i in 1..(@actualite.actuphoto.length-1)%>
	    <div class="carousel-item">
	        <%= image_tag (@actualite.actuphoto[i]), class:"img-display carousel-display card-img-top proimg",alt: '#{@car.model.name} #{@car.model.name}' %>
	    </div>
  	<%end%>
  <%else%>
		<h3>Ajouter des photos</h3>
  <%end%> -->

	<%= form_tag actuality_actuphotos_path(@actualite), multipart: true do %>
		<%= file_field_tag :actuphoto %>
		<%= submit_tag "mettre à jour" %>
	<% end %>

	<%= link_to "Editer", edit_actuality_path(@actualite.id) %><br>
	<%= link_to "Supprimer", actuality_path(@actualite.id), method:"delete" %>
</div>