	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">BAROmètre CItoyen </h3>
							<h1 class="white typed"> 
							<div class="typewrite" data-period="2000" data-type='[ "Un outil de redevabilité", "Mesure de la réalisation des promesses éléctorales"]'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	

	<section>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
					<div class="intro-table intro-table-first">
						<h5 class="white heading">Actualités</h5>
						<div class="owl-carousel owl-schedule bottom">
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Madagate</h5>
									</div>
									<div class="col-xs-6 text-right">
										<a href="https://www.madagate.org" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">La vérité</h5>
									</div>
									<div class="col-xs-6 text-right">
										<a href="https://www.laverite.mg" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Moov</h5>
									</div>
									<div class="col-xs-6 text-right">
								<a href="https://www.moov.mg" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Midi Madagascar</h5>
									</div>
									<div class="col-xs-6 text-right">
									<a href="https://www.midimadagascar.com" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Madagascar tribune</h5>
									</div>
									<div class="col-xs-6 text-right">
									<a href="https://www.midi-madagasikar.mg" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Lagazette</h5>
									</div>
									<div class="col-xs-6 text-right">
									<a href="https://www.lagazette-dgi.com" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">NewsMada</h5>
									</div>
									<div class="col-xs-6 text-right">
										<a href="https://www.newsmada.com" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">L'express</h5>
									</div>
									<div class="col-xs-6 text-right">
										<a href="https://www.lexpress.mg" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Mada-buzz</h5>
									</div>
									<div class="col-xs-6 text-right">
								<a href="https://www.mada-buzz.net" class="external-link-alt"><%= image_tag "circle.png", class:"icon" %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="color-text heading hide-hover">Mouvement pour l'Ethique et la Déontologie de Madagascar</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Visiter la page</h4>
							<h4 class="white heading small-pt">MEDEM</h4>
							<a href="http://www.medem.mg" class="btn btn-white-fill expand">S'enregister</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-third">
						<h5 class="white heading">Articles</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="regular white">Restitution des îles Esparses</h4>
								<h5 class="white heading light author">Nationale</h5>
							</div>
							<div class="item">
								<h4 class="regular white">Une augmentation de 50% de la capacité offerte</h4>
								<h5 class="white heading light author">Transport aériens</h5>
							</div>
							<div class="item">
								<h4 class="regular white">Fusillade de Jersey city</h4>
								<h5 class="white heading light author">Internationale</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================Feature Area =================-->
    <section class="feature_area mb-5">
        <div class="container">
            <div class="c_title">
                <img src="img/icon/title-icon.png" alt="">
                <h6>Visions</h6>
                <h3>L'integrité des leaders et des institutions, et la participation citoyenne garante du développement durable à Madagascar</h3>
            </div>
            <div class="row feature_inner">
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <%= image_tag  "guru-blue.png",class:"icon" %>
                        </div>
                        <h4>Mission 1</h4>
                        <p>Eduquer à l'integrité et à la transparance.</p>
                        <a class="more_btn" href="#">En savoir plus</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="img/icon/f-icon-2.png" alt="">
                        </div>
                        <h4>Mission 2</h4>
                        <p>Promouvoir la participation de la jeunesse.</p>
                        <a class="more_btn" href="#">En savoir plus</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <%= image_tag  "weight-blue.png",class:"icon" %>
                        </div>
                        <h4>Mission 3</h4>
                        <p>Réclamer la redevabilité des élus. </p>
                        <a class="more_btn" href="#">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Feature Area =================-->

 <section id="pricing" class="section">
 	<div class="container">
	   	<div id="cadre">
			<iframe class="w-100" width="100" height="416" src="https://www.youtube.com/embed/UWDWPy1nSDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
  	</div>
</section> 


	<section class="section section-padded blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="owl-twitter owl-carousel">
						<div class="item text-center">
							<i class="icon fa fa-twitter"></i>
							<h4 class="white light">
								<%= image_tag  "medem.png", class:"image-car" %>
							</h4>
						</div>
				
						<div class="item text-center">
							<i class="icon fa fa-twitter"></i>
							<h4 class="white light">
								<%= image_tag  "Miel-2.JPG", class:"image-car" %>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="container">
    	<div class="row justify-content-around">
    		<div><%= image_tag  "spectre-logo.png", width: '150px' %></div>
    		<div><%= image_tag  "medem-logo.png", width: '150px' %></div>
    		<div><%= image_tag  "miel-logo.png", width: '150px' %></div>
    	</div>
    
  </div>