<!-- appel css  -->
<link rel="stylesheet" href="/css/login-user.css" />
<!-- body html  -->

<div class="box-login">
  <div class="box-login-image">
    <img src="/images/logo.webp" alt="image mada" />
  </div>
  <div class="box-login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> <%= f.label :email, class:"pos" %><br />
    <%= f.email_field :email, autofocus: true, id:"inputEmail", class:"form-control vo",placeholder:"Adresse email" ,autocomplete: "email" %> <%= f.label :mot_de_passe, class:"pos" %><br />
    <%= f.password_field :password, autocomplete: "current-password", id:"inputPassword", class:"form-control vo", placeholder:"Mot de passe" %> <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
    <% end %> <%= f.submit "Se connecter", class:"more_btn_edi log-submit" %> <% end %> <%= render "devise/shared/links" %>
  </div>
</div>
