<div class="p-5 container">
	<h1 class="text-secondary text-center">Notre Candidat élu et ses promesses</h1>
	<% totalegagement = 0 %>
	<% totalagree = 0 %>
	<% totalhesitate = 0 %>
	<% totaldisagree = 0 %>
	<ol>
		<% @promesse.each do |promesse| %>
			<% totalegagement += promesse.engagments.count %>
			<li>
				<p class="promesse-content h4"> Promesse : <u><%= promesse.content %></u></p>
				<ul id="prommess-ul">
					<%i = 0 %>
					<% promesse.engagments.each do |engagement| %>

						<li class="col-lg-9 pro-center container">
							<div class="head-center h6 ">Engagements n° <%= engagement.id %> : <br>
							<p class="engagement"><%= engagement.content %></p>	</div>	
						</li>
						<% number = engagement.surveys.all %>
						<% total = engagement.surveys.count %>
						<% survey = Survey.where(engagment: engagement) %>
						<% surveyagree = survey.where(agree: true) %>
						<% surveydisagree = survey.where(disagree: true) %>
						<% surveyhes = survey.where(hesitat: true) %>
						<% if total != 0 %>
							<% (surveyagree.count * 100)/total %> 
							<% (surveydisagree.count * 100)/total %>
							<% (surveyhes.count * 100)/total %>
							<% totalagree += (surveyagree.count * 100)/total %>
							<% totalhesitate += (surveyhes.count * 100)/total %>
							<% totaldisagree += (surveydisagree.count * 100)/total %>
							<div class="row justify-content-center">
								 <!-- Content Column -->
								 <div class="col-lg-9 mb-4">
									<div class="card shadow mb-4">
										<div class="card-header py-3">
											<h6 class="m-0 font-weight-bold text-primary"><h5>Le candidat <%= @candidat_valid.name %> est élu avec un résultat de <%= @candidat_valid.resultat %> % </h5> <br>
											</h6>
											<p class="m-0 font-weight-bold text-primary">
												<h5>Résultat sur le sondage des engagements total </h5> <br>
											</p>
										</div>
										<div class="card-body">
											<h4 class="small font-weight-bold">Projet Faits <span class="float-right"><% if @total != 0 %><%= (@suivi*100)/@total %>%<% end %></span></h4> <br>
											<h4 class="small font-weight-bold"> D'accord : <span class="float-right"><%= (surveyagree.count * 100)/total %> %</span></h4>
											<div class="progress mb-4">
												<div class="progress-bar bg-success" role="progressbar" style="width: <%= (surveyagree.count * 100)/total %>%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<h4 class="small font-weight-bold"> Pas d'accord : <span class="float-right"><%= (surveydisagree.count * 100)/total %>%</span></h4>
											<div class="progress mb-4">
												<div class="progress-bar bg-danger" role="progressbar" style="width: <%= (surveydisagree.count * 100)/total %>%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<h4 class="small font-weight-bold"> Hésité : <span class="float-right"><%= (surveyhes.count * 100)/total %>%</span></h4>
											<div class="progress mb-4">
												<div class="progress-bar" role="progressbar" style="width: <%= (surveyhes.count * 100)/total %>%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
								 	</div>
								</div> 
							</div>
						<% end %>
						<div class="d-flex justify-content-around mb-4">
							<%= form_tag url_for(action:'create'), method:'post' do %>
								<input type="text" name="engagement" value="<%= engagement.id %>" hidden>
								<input type="text" name="name" value="1" hidden>
								<%if current_user.surveys.find_by(engagment_id: engagement.id).nil? %>
								<input type="submit" class="btn btn-outline-success" value="D'accord (<%= number.where(agree: true).count %>)">
								<% else%>
									<%if current_user.surveys.find_by(engagment_id: engagement.id).agree %>
									<input type="submit" class="btn btn-success" value="D'accord (<%= number.where(agree: true).count %>)">
									
									<% else%>
									<input type="submit" class="btn btn-outline-success" value="D'accord (<%= number.where(agree: true).count %>)">
									
									<% end%>
								<% end%>
							<%end%>
							<%= form_tag url_for(action:'create'), method:'post' do %>
								<input type="text" name="engagement" value="<%= engagement.id %>" hidden>
								<input type="text" name="name" value="3" hidden>
								<%if current_user.surveys.find_by(engagment_id: engagement.id).nil? %>
									<input type="submit" class="btn btn-outline-info" value="Hesiter (<%= number.where(hesitat: true).count %>)">
								<% else%>
									<%if current_user.surveys.find_by(engagment_id: engagement.id).hesitat %>	
									<input type="submit" class="btn btn-info" value="Hesiter (<%= number.where(hesitat: true).count %>)">
									<% else%>
									<input type="submit" class="btn btn-outline-info" value="Hesiter (<%= number.where(hesitat: true).count %>)">
									<% end%>
								<% end%>
							<%end%>
							<%= form_tag url_for(action:'create'), method:'post' do %>
								<input type="text" name="engagement" value="<%= engagement.id %>" hidden>
								<input type="text" name="name" value="2" hidden>
								<%if current_user.surveys.find_by(engagment_id: engagement.id).nil? %>
									<input type="submit" class="btn btn-outline-warning" value="Pas d'accord (<%= number.where(disagree: true).count %>)">
								<% else%>
								<%if current_user.surveys.find_by(engagment_id: engagement.id).disagree %>	
									<input type="submit" class="btn btn-warning" value="Pas d'accord (<%= number.where(disagree: true).count %>)">
								<% else%>
									<input type="submit" class="btn btn-outline-warning" value="Pas d'accord (<%= number.where(disagree: true).count %>)">
								<% end%>
							<% end%>
							<%end%>
						</div>
						<div class="row justify-content-center mb-4">			
							<a class="btn btn-info btn-comment-engagement" id="<%= engagement.id %>">Voir les commentaires(<%= engagement.comments.all.count %>)
							</a>
						</div>
						<div class=" comment-engagement border p-4 mb-4" id="comment-engagement<%= engagement.id %>">
							<div id="commentss" class="container p-2 mb-2">
								<%if engagement.comments.length > 7 %>
									<%= link_to "Voir plus ...", new_engagment_comment_path(engagement.id), class: 'btn btn-info' %>
								
									<% for i in engagement.comments.length-5..engagement.comments.length-1 do %>
										<div id="<%=engagement.comments[i].id%>">
										<%= engagement.comments[i].user.full_name %><br />
										<%= engagement.comments[i].content %> <% if user_signed_in? %> <% if engagement.comments[i].user == current_user || current_user.is_admins == true %> | <%= link_to "Modifier", edit_engagment_comment_path(engagement.id, engagement.comments[i].id) %> | <%= link_to "Supprimer", engagment_comment_path(engagement.id, engagement.comments[i].id),
										method:"delete" ,remote: true%> <br />
										<% end %> <% end %>
										</div>
									<% end %>
								<% else %>
									<% engagement.comments.each do |comment| %>
									<div id="<%=comment.id%>">
									<%= comment.user.full_name %><br />
									<%= comment.content %> <% if user_signed_in? %> <% if comment.user == current_user || current_user.is_admins == true %> | <%= link_to "Modifier", edit_engagment_comment_path(engagement.id, comment.id) %> | <%= link_to "Supprimer", engagment_comment_path(engagement.id, comment.id),
									method:"delete" ,remote: true%> <br />
									<% end %> <% end %>
									</div>
									<% end %>
								<% end %>
							</div>
							<div class="text-center">
								<%= form_tag url_for(engagment_comments_path(engagement.id)), method:'post',remote: true do %> Votre commentaire
								<input type="text" name="content" id="btn-content" placeholder="Commentaire .. " />
							
								<input type="submit" value="Ajouter" id="btn-submit" />
								<%end%>
							</div>
						</div>
						<%i += 1 %>
					<% end %>
				</ul>
			</li>
		<% end %>
	</ol>
	<br>
	<%if  totalegagement != 0 %>
		<div class="row justify-content-center container ">
			<div class="col-lg-9 mb-4">
			  <!-- Project Card Example -->
			  <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><h5>Le candidat <%= @candidat_valid.name %> est élu avec un résultat de <%= @candidat_valid.resultat %> % </h5> <br>
            </h6>
            <p class="m-0 font-weight-bold text-primary"><h5>Résultat sur le sondage des engagements total </h5> <br>
            </p>
          </div>
          <div class="card-body">
            <h4 class="small font-weight-bold">Projet Faits <span class="float-right"><% if @total != 0 %><%= (@suivi*100)/@total %>%<% end %></span></h4> <br>
            <h4 class="small font-weight-bold"> D'accord : <span class="float-right"><%= totalagree/totalegagement %> %</span></h4>
            <div class="progress mb-4">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%= totalagree/totalegagement %>%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold"> Pas d'accord : <span class="float-right"><%= totaldisagree/totalegagement %>%</span></h4>
            <div class="progress mb-4">
            <div class="progress-bar bg-danger" role="progressbar" style="width: <%= totaldisagree/totalegagement %>%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold"> Hésité : <span class="float-right"><%= totalhesitate/totalegagement %>%</span></h4>
            <div class="progress mb-4">
            <div class="progress-bar" role="progressbar" style="width: <%= totalhesitate/totalegagement %>%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
				</div>
			</div> 
		</div> 
	<%end %>
  <a class="btn btn-danger" href="javascript:history.back()">
    <span class="btn-label mr-2"><i class="fa fa-arrow-left"></i></span>Retour
  </a>
</div>
