<h1>Notre Candidat élu et ses promesses</h1>

<h5>Le candidat <%= @candidat_valid.name %> est élu avec un résultat de <%= @candidat_valid.resultat %> % </h5> <br>
<p>Voici tous ses promesses et ces engagements </p>
<ol>
	<% @promesse.each do |promesse| %>
		<li>
			<%= promesse.content %>
			<ul>
				<% promesse.engagments.each do |engagement| %>
					<li>
						<%= engagement.content %>
					</li>
					<% number = engagement.surveys.all %>
						<%= form_tag url_for(action:'create'), method:'post' do %>
							
							<input type="text" name="engagement" value="<%= engagement.id %>" hidden>
							<input type="text" name="name" value="1" hidden>
							<input type="submit" value="like">(<%= number.where(agree: true).count %>)
						<%end%>
						<%= form_tag url_for(action:'create'), method:'post' do %>
							<input type="text" name="engagement" value="<%= engagement.id %>" hidden>
							<input type="text" name="name" value="2" hidden>
							<input type="submit" value="dislike">(<%= number.where(disagree: true).count %>)
						<%end%>
						<%= form_tag url_for(action:'create'), method:'post' do %>
							<input type="text" name="engagement" value="<%= engagement.id %>" hidden>
							<input type="text" name="name" value="3" hidden>
							<input type="submit" value="hesitate">(<%= number.where(hesitat: true).count %>)
						<%end%>
						<%= link_to "Commentaire", new_engagment_comment_path(engagement.id) %>(<%= engagement.comments.count %>)
				<% end %>
			</ul>
		</li>
	<% end %>
</ol>