<%if @resultat.length != 0 %>
	<div class="container text-center">
		<h5 class="py-4">Resultats des recheches sur <%=@result1 %></h5>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Commune</th>
					<th>Region</th>
				</tr>
			</thead>
			<% i = 1%>
			<tbody>
				<% @resultat.each do |resultat|%>
					<% @region = Region.where(communes: resultat)%>
					<%@region.each do |region|%>
						<tr>
							<td><%= i %></td>
							<td><%= link_to resultat.name.titleize, commune_candidats_path(resultat)%></td>
							<td><%= link_to region.name.titleize, region_communes_path(region)%></td>
						</tr>
						<% i += 1%>
					<%end%>
				<%end%>
			</tbody>
		</table>
	</div>

<%else%>
	<div class="no-resultat">
		<img src="/images/no1.jpeg">
	 	<h1 class="text-white result-position">Aucun resultat trouvé<br> pour "<span class="text-info"><%=@result1 %></span>"</h1>
	</div>
<%end%>



