
<div class="container">
  
  <h2 class="py-3">Listes des régions</h2>
  <table class="table table-striped">

    <thead class="white">
      <tr>
        <th>#</th>
        <th>Région</th>
      <% if user_signed_in?%>
  		  <% if current_user.is_admins == true %>
          <th>Editer</th>
          <th>Supprimer</th>
        <% end%>
      <% end%>
      </tr>
    </thead>
    <% i = 1 %>
    <% @region.each do |region|%>
      <tbody>
        <tr class="tr">
          <th><%= i %></th>
          <td><%= link_to region.name.titleize,region_communes_path(region.id)%><br></td>
      	  <% if user_signed_in? %>
            <% if current_user.is_admins == true %>
              <td><%= link_to "Editer", edit_region_path(region.id),class:'more_btn_edi' %></td>
              <td><%= link_to "Supprimer", region_path(region.id) , method: "delete",class:'more_btn_sup' %></td>
        	  <% end %>
      	  <% end %>
        </tr>
      </tbody>
      <% i += 1 %>
    <% end %>
  </table>

    <% if user_signed_in? %>
    <% if current_user.is_admins == true %>
    <div>
      <%= link_to "Ajouter une région", new_region_path ,class:'more_btn' %>
    </div>
    <% end %>
  <% end %>
</div>
