    <!--Modale-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container">
  <h2 class="py-3 text-center mt-4">Listes des régions</h2>
  <div class="shadow-card">
    <div class="row white">
      <div class="col-xl-1 col-lg-4">#</div>
        <div id="c-text" class="col-xl-3 col-lg-4 text-center">Region</div>
        <div class="d-flex justify-content-between w-50 text-center ml-6">
          <% if user_signed_in?%>
            <% if current_user.is_admins == true %>
              <div class="col-xl-6 col-lg-4">Editer</div>
              <div class="col-xl-6 col-lg-4">Supprimer</div>
            <% end%>
          <% end%>
         
        </div>
      </div>
      <div class="overflow">
        <table class="table table-striped">
          <% i = 1 %>
          <% @region.each do |region|%>  
            <tbody class="hover-table">        
                <tr class="tr">
                  <th><%= i %></th>   
                  <td><%= link_to region.name.titleize,region_communes_path(region.id)%><br></td>
                  <% if user_signed_in? %>
                    <% if current_user.is_admins == true %>
                      <td class="text-blue"><i class="mr-4 fa fa-pencil-square-o" aria-hidden="true"></i><%= link_to "Editer", edit_region_path(region.id),class:'more_btn_edi text-blue' %></td>
                      <td class="text-red"><i class="mr-4 fa fa-trash" aria-hidden="true"></i><%= link_to "Supprimer", region_path(region.id) , method: "delete",class:'more_btn_sup text-red' %></td>
                    <% end %>
                  <% end %>
                </tr>     
            </tbody>
            <% i += 1 %>
          <% end %>
        </table>
      </div>
    </div>

   <div class="d-flex justify-content-center mt-3">
      <% if user_signed_in? %>
        <% if current_user.is_admins == true %>
            <div class="col-xl-10">
              <div class="btn-lg btn-block text-center">
                <button onclick="document.getElementById('id01').style.display='block'" class="w-50 boxed-btn3">Ajouter Région</button>
              </div>
            </div>
        <% end %>
      <% end %>
      <button type="button" class="btn btn-labeled btn-danger m-3" onclick= window.location.href='<%= home_path %>'; value="Retour vers la page Accueil" >
        <span class="btn-label mr-2"><i class="fa fa-arrow-left"></i></span>Retour
      </button>
    </div>
</div>

 <!-- MODAL section -->
  <div class="w3-container">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal"> 
          <span onclick="document.getElementById('id01').style.display='none'" 
          class="w3-button w3-display-topright">&times;</span>
          <h2>Modal Header</h2>
        </header>
        
        <div class="w3-container">
          <%= render "regions/new.html.erb" %>
        </div>
        <footer class="w3-container w3-teal">
          <p>Modal Footer</p>
        </footer>
      </div>
    </div>
  </div>

 <!-- End MODAL section -->
