<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="<%= home_path %>">Sahy hifidy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= new_daty_path %>">Créer date</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_candidat_path %>">Créer un candidat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= regions_path %>">Region</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_candidat_path %>">Sondage</a>
      </li>
    </ul>
    <span class="navbar-text">
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Connection
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if user_signed_in? %>
            <a class="dropdown-item" href="/users/sign_out">Se Deconnecter</a>
            <%else%>
            <a class="dropdown-item" href="/users/sign_in">Se Connecter</a>
            <a class="dropdown-item" href="/users/sign_up">S'inscrire</a>
            <%end%>
        </div>
        </div>
    </span>
  </div>
</nav>