    <div class="sticky-top">
         <div class="header-bottom wow fadeIn">
            <div class="container">
               <nav class="main-menu">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                  </div>
				  
                  <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                        <li><a class="active" href="<%= home_path %>">Home</a></li>
                        <li><a href="<%= new_daty_path %>">Créer date</a></li>
                        <li><a href="<%= new_candidat_path %>">Créer un candidat</a></li>
                        <li><a href="<%= regions_path %>">Région</a></li>
                        <li><a href="<%= daties_path %>">Baroci</a></li>
                     </ul>
                  </div>
               </nav>

            <span class="navbar-text">
               <div class="dropdown">
               <button class="btn btn-primary dropdown-toggle" id="marg-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 
               <% if user_signed_in? %>
                  Profil
                  <%else%>
                  Se connecter
               <%end%>

               </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

               <% if user_signed_in? %>
                  <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-dark" href="<%= user_path(current_user.id) %>">Mon profil</a></li>
                        <li><a class="dropdown-item text-dark" href="<%= destroy_user_session_path %>" data-method="delete">Se Deconnecter</a></li>
                     <%else%>
                        <li><a class="dropdown-item text-dark" href="<%= user_session_path %>">Se Connecter</a></li>
                        <li><a class="dropdown-item text-dark" href="<%= new_user_registration_path %>">S'inscrire</a></li>
                  </ul>
            
               <%end%>

               </div>
               </div>
            </span>
            </div>
         </div>
      </div>
