<nav class="navbar navhead original" style="
    position: initial;
">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header tay">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= home_path %>"><%= image_tag  "logo.png", id:"logo" %></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right main-nav">
				<li><a class="active hov" href="<%= home_path %>">Home</a></li>
				<% if user_signed_in?%>	
					<% if current_user.is_admins == true%>
	                  <li><a data-scroll href="<%= new_daty_path %>">Créer date</a></li>
	                  <li><a data-scroll href="<%= new_candidat_path %>">Créer un candidat</a></li>
	                <% end %>
	            <% end %>  
              <li><a data-scroll href="<%= regions_path %>" class="hov">Région</a></li>
              
           <li>
       

           <li class="dropdown">
			  <button class="btn btn-outline-primary dropdown-toggle hov" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <% if user_signed_in?%>
             		Mon profil
	            <% else %>
	              Connexion
	            <% end %>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu apt" aria-labelledby="dropdownMenu1">
			  	<% if user_signed_in?%>
				    <li><a class="dropdown-item" href="<%=user_path(current_user.id)%>">Mon profil</a></li>
				    <li><a class="dropdown-item" href="<%=destroy_user_session_path%>" data-method="delete">Se déconnecter</a></li>
				 <% else%>
				    <li><a class="dropdown-item" href="<%=new_user_session_path%>">Se connecter</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a class="dropdown-item" href="<%=new_user_registration_path%>">S'inscrire</a></li>
           		<% end%>
			  </ul>
			</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>